#navbar .logo{
    float: none;
    text-align: center;
}

#navbar ul,
#navbar ul li{
    float: none;
}

#navbar ul li a{
    padding: 5px;
    border-bottom: 1px dotted #444;
}

#showcase{
    height: 100%;
}

#home-info .info-img{
 display: none;
}

#home-info .info-content{
    width: 100%;
    float: none;
}

.box{
    float: none;
    width: 100%;
}

#about-info .info-left h1{
    text-align: center;
}

#about-info .info-right,
#about-info .info-left{
    float: none;
    width: 100%;
}

#about-info .info-right{
    margin-top: 30px;
}

.l-heading{
    
    text-align: center;
}

#testimonials .testimonial{
    height: auto;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    opacity: 0.9;
}

#contact-info .box{
    border-bottom: #444 1px dotted;
}