/* for reseting to default */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

a{
    color: #333;
    text-decoration: none;
}

h1,h2,h3{
    margin-bottom: 15px;
}

p{
    margin: 10px 0;
}

.container2{
    margin: auto;
    max-width: 960px;
    overflow: auto;
    height: 800px;
}

.container{
    margin: auto;
    max-width: 960px;
    overflow: auto;
}


.text-primary{
    color: #f7c08a;
}

.lead{
    font-size: 18px;
}

.btn{
    background: #333;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    /* display: inline-block; */
    /* cursor: pointer; */
}

.btn:hover{
    background: #f7c08a;
    color: #333;
}

.btn-light{
    background: #f4f4f4;
    color: #333;
}

.bg-primary{
    background: #f7c08a;
    color: #333;
}

.bg-dark{
    background: #333;
    color: #fff;
}

.bg-light{
    background: #fff;
    color: #333;
}

/* Padding on y axis setting */
.py-3{
    padding: 30px 0;
}

#navbar{
    background: #333;
    /* height: 50px; */
}

#navbar a{
    color: #fff;
    padding: 10px;
    /* text-decoration: none; */
}

#navbar .logo{
    float: left;
    padding-top: 12px;
}

#navbar ul{
    float: right;
    padding-top: 8px;
    list-style: none;
}

#navbar li{
    float: left;
}
#navbar li a{
    text-align: center;
    display: block;
    padding-top: 8px;
}

#navbar a:hover, #navbar a.current{
    background: #444;
    color:#f7c08a;
}

/* center section with img and content */
#showcase{
    background: url('../img/showcase.jpg') no-repeat center center/cover;
    /* no-repeat for not repeating
    center center for placing at the center
    cover to cover the whole area */
    height: 600px;
}

#showcase .showcase-content{
    text-align: center;
    color: #fff;
    padding-top: 150px;
}

#showcase .showcase-content h1{
    font-size: 50px;
    /* line-height: 1.2em; */
}

#showcase .showcase-content p{
    padding-bottom: 15px;
    line-height: 1.2em;
}

#home-info{
    height: 400px;
}

#home-info .info-img{
    background: url('../img/photo-1.jpg') no-repeat;
    min-height: 100%;
    width: 50%;
    float: left;
}

#home-info .info-content{
    text-align: center;
    width: 50%;
    height: 100%;
    float: right;
    padding: 50px 10px;
    line-height: 1.8em;
    overflow: auto;
}

#home-info .info-content p{
    padding-bottom: 30px;
}

/* Features */

.box{
    text-align: center;
    width: 33.3%;
    padding: 20px;
    float: left;
}

.box i{
    margin-top: 30px;
}

.clr{
    clear: both;
}

.l-heading{
    font-size: 40px;
}

#about-info .info-right{
    float: right;
    width: 50%;
    min-height: 100%;
}

#about-info .info-right img{
    width: 70%;
    display: block;
    margin: auto;
    /* To make a round instead of square we give radius 50% */
    border-radius: 50%;
}

#about-info .info-left{
    float: left;
    width: 50%;
}

#testimonials{
    height: 100%;
    background: url('../img/test-bg.jpg') no-repeat center center/cover;
    padding-top: 100px;
}

#testimonials .testimonial{
    height: 110px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    opacity: 0.9;
}

#testimonials .testimonial img{
    width: 90px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

#testimonials h2{
    text-align: center;
    color: #fff;
    padding-bottom: 30px;
}

#contact-form{
    margin: 10px;
}

#contact-form .form-group{
    margin-bottom: 10px;
}

#contact-form label{
    display: block;
    margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea{
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
}

#contact-form textarea{
    height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus{
    outline: none;
    border-color: #f7c08a;
}

#main-footer{
    text-align: center;
    background: #444;
    color: #fff;
    padding: 10px;
}