#what .items{
    display: block;
    padding: 1rem;
}

#what .items .item{
    display: flex;
    text-align: left;
}

#what .items .item i{
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom: 0;
}

/* media queries for smart phones */

@media(max-width: 500px){
    #navbar{
        flex-direction: column;
        align-items: center;
    }

    #navbar .logo{
        margin-bottom: 0.5rem;
        text-align: center;
    }

    #navbar ul{
        padding: 0.5rem;
    }

    #showcase .showcase-content{
        top: 110px;
    }

    #who{
        display: block;
    }

    #who .who-img{
        display: none;
    }

    #clients .items img{
        width: 80%;
    }

    #contact{
        flex-direction: column;
    }

    #contact .map{
        flex: 0 0 200px;
    }
}