@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

a{
    text-decoration: none;
}

p{
    margin: 0.75rem 0;
}

.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 1.5rem;
    overflow: hidden;
}

.text-center{
    text-align: center;
}

.text-primary{
    color: #93cb52;
}

.l-heading{
    font-size: 3rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.m-heading{
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.lead{
    font-size: 1.3rem;
}

.p-2{ padding: 2rem; }
.py-1{ padding: 1.5rem 0;}
.py-2{ padding: 2rem 0;}
.py-3{ padding: 3rem 0;}

.btn{
    display: inline-block;
    background: #93cb52;
    color: #fff;
    padding: 0.7rem 0.8rem;
    /* margin: 0.3rem; */
    border: none;
    border-radius: 5px;;
}

.btn:hover{
    background: #7ab436;
}

.btn-dark{
    background: #333;
    color: #fff;
}

.bg-light{
    background: #f4f4f4;
    color: #333;
}

.bg-dark{
    background: #333;
    color: #fff;
}

.bg-primary{
    background: #93cb52;
    color: #fff;
}

#navbar{
    background: #333;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

#navbar ul{
    list-style: none;
    display: flex;
    align-items: center;    
}

#navbar ul li a{
    color: white;
    padding: 0.75rem;
    margin: 0 0.2rem;
}

#navbar ul li a:hover{
    background: #93cb52;
    border-radius: 5px;
}

#showcase{
    background: #333 url('../img/showcase.jpg') no-repeat center center/cover ;
    height: 100vh;
    color: white;

}

#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;    
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 61px;
    left: 0;
    right: 0;
    bottom: 0;
}

/* section : what we do */

#what .items{
    display: flex;
    padding: 1rem;
}

#what .items .item{
    text-align: center;
    flex: 1;
    padding: 1rem;
}

#what .items .item i{
    background: #93cb52;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* section : who we are */
#who{
    display: flex;
}

#who div{
    flex: 1;
}

#who .who-img{
    background: url('../img/people.jpg') no-repeat center center/cover ;
}

#who .list{
    list-style: none;
    margin: 0.5rem 0;
}

#who .list li{
    border-bottom: 1px dotted #444;
    padding: 0.5rem 0;
}

/* Clients */

#clients .items{
    display: flex;
}

#clients .items img{
    display: block;
    width: 60%;
    margin: auto;
}

/* Section : Contact Us */

#contact{
    display: flex;
}

#contact .contact-form, #contact .map{
    flex: 1;
}

#contact .contact-form .form-group{
    margin: 0.75rem;
}

#contact .contact-form label{
    display: block;
}

#contact .contact-form input,textarea{
    width: 100%;
    padding: 0.5rem;
}